@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway-normal {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.quicksand-normal {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/* shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* color and font variable */
:root {
    --color-orange: #FEA301;
    --color-orange-2: #F0AA00;
    --color-sky-blue: #01ACFD;
    --color-sky-blue-2: #64C8FF;
    --color-cyan: #05D4DF;
    --color-purple: #5D58EF;
    --color-purple-2: #8700FF;
    --color-dark: #000000;
    --color-dark-2: #444444;
    --color-gray: #808080;
    --color-white: #FFFFFF;
    --color-green: #95B226;
    --color-blue: #5D58F0;

    --font-xxl: 3.5rem;
    --font-xl: 2.8rem;
    --font-l: 1.5rem;
    --font-m: 1.25rem;
    --cont-s: 0.95rem;
}

.color-orange {
    color: var(--color-orange);
}

.color-orange-2 {
    color: var(--color-orange-2);
}

.color-sky-blue {
    color: var(--color-sky-blue);
}

.color-sky-blue-2 {
    color: var(--color-sky-blue-2);
}

.color-cyan {
    color: var(--color-cyan);
}

.color-cyan {
    color: var(--color-cyan-2);
}

.color-dark {
    color: var(--color-dark);
}

.color-gray {
    color: var(--color-gray);
}

.bg-green {
    background: var(--color-green);
}

.bg-blue {
    background: var(--color-blue);
}

.btn {

    padding: 15px 36px;
    color: var(--color-white);
    border: none;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.btn-orange {
    background: var(--color-orange);
}

.btn-orange:hover {
    background: var(--color-sky-blue);
    transition: all 0.5s;
}

.btn-black {
    background: var(--color-dark);
}

.btn-black:hover {
    background: var(--color-dark-2);
    transition: all 0.5s;
}


.section-title {
    font-size: var(--font-xl);
    font-weight: 700;
    margin-bottom: 80px;
    color: var(--color-dark);
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

section {
    padding-bottom: 60px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

/* ==================================== */

/* body {
    max-width: 1440px;
    margin: 0 auto;
} */

header {
    max-width: 1160px;
    margin: 0 auto;
    /* padding: 20px 140px; */
}

.hide-desktop {
    display: none;
}

nav {
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.branding {
    justify-content: space-between;
    align-items: center;
}

.logo-title {
    font-size: 32px;
    font-weight: 700;
    color: var(--color-dark);
    font-size: 2rem;
    margin-left: 10px;
}

nav ul li {
    list-style: none;
    margin-right: 32px;
}

nav ul li a {
    text-decoration: none;
    font-weight: 700;

}

nav ul li:nth-child(1) a {
    color: var(--color-orange);
}

nav ul li:nth-child(2) a {
    color: var(--color-sky-blue);
}

nav ul li:nth-child(3) a {
    color: var(--color-cyan);
}

nav ul li:nth-child(4) a {
    color: var(--color-purple);
}

/* marquee */
marquee {
    color: var(--color-orange);
    font-weight: 700;
}

marquee span {
    color: var(--color-sky-blue);
}

/* hero section styles */
.hero {
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.hero-title {
    font-size: var(--font-xxl);
    font-weight: 700;
    line-height: 61px;
}

.hero-title::selection {
    color: var(--color-cyan);
}

.hero-subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    color: var(--color-dark);
    margin: 24px 0;
}

.hero-subtitle::selection {
    background: var(--color-cyan);
}

/* main */

/* curriculum section styles */
.curriculum-section {
    background-image: url(../assets/images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.curriculum-container {
    max-width: 1160px;
    margin: 0 auto;
}

.curriculum-card-container {
    grid-template-columns: repeat(3, 368px);
    gap: 28px;
}

.card {
    flex-direction: column;
    border-radius: 18.86px;
    padding: 50px 40px;
    gap: 32px;

}

.card img {
    width: 47%;
    height: auto;
    margin: 0 auto;
}

.card-kinder {
    border: 0.94px solid rgb(222, 245, 255);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card-elementary {
    border: 0.94px solid rgb(255, 244, 220);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card-middle {
    border: 0.94px solid rgb(242, 232, 255);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card .card-title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 30.65px;
    /* margin: 32px 0; */
}

.card .card-details {
    font-family: "Raleway", Quicksand;
    font-size: 0.95rem;
    font-weight: 500;
    line-height: 28.3px;
    margin-bottom: 6px;
}

.card a {
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: 700;
    line-height: 28.3px;
}

.slide-icon {
    margin-top: 80px;
    justify-content: center;
    gap: 10px;
}

.slide-icon .circle-icon {
    background: var(--color-orange);
    height: 60px;
    width: 60px;
    padding: 20px;
    border-radius: 50%;
}

.slide-icon .circle-icon:hover {
    background: var(--color-sky-blue);
    transition: all 0.5s;
    cursor: pointer;
}

/* our story styles */
.story-section {
    background-image: linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%), url(../assets/images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.story-container {
    max-width: 1160px;
    margin: 0 auto;
}

.story-content {
    gap: 20px;
}

/* story left card */

.story-left-card {
    background: var(--color-white);
    border-radius: 16px;
    height: 630px;
    width: 540px;
}

.story-left-card:hover {
    cursor: pointer;
}

.story-left-card img {
    border-radius: 16px 16px 0 0;
}

.story-left-card .card-content {
    padding: 30px 38px 34px;
}

.card-content .card-tag {
    background: var(--color-cyan);
    color: var(--color-white);
    border-radius: 48px;
    padding: 15px 20px;
    bottom: 50px;
    position: relative;
    font-family: "Raleway";
    font-size: 0.95rem;
    font-weight: 500;
}

.card-heading {
    font-size: var(--font-m);
    font-weight: 700;
    line-height: 38.35px;
    margin-bottom: 50px;
}

.card-description {
    font-size: 0.95rem;
    font-weight: 500;
    line-height: 28.76px;
    font-family: "Raleway";
    color: var(--color-gray);
}

.story-right-card img {
    border-radius: 16px 16px 0 0;
}

/* right card */

.story-right-card {
    grid-template-columns: repeat(2, 290px);
    gap: 20px;

}

.right-card {
    border-radius: 16px;
    background: var(--color-white);
}

.right-card:hover {
    cursor: pointer;
}

.right-card .card-content>h4 {
    font-size: 0.95rem;
    font-weight: 700;
    line-height: 28.76px;
}

.right-card>.card-content {
    padding: 37px 38px 30px;
    position: relative;
}

.tag {
    padding: 10px 20px;
    font-size: 0.95rem;
    font-weight: 500;
    color: var(--color-white);
    border-radius: 48px;
    position: absolute;
    bottom: 87%;
}

.story-container button {
    margin-top: 80px;
}

/* footer styles */
footer {
    background: var(--color-sky-blue);
}

.footer-container {
    max-width: 1160px;
    margin: 0 auto;
    justify-content: space-around;
    padding: 125px 0 170px;
}

.footer-branding {
    align-items: center;
    margin-bottom: 35px;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 39.51px;
    color: var(--color-white);
}

.footer-branding h3 {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 39.51px;
}

.footer-left p {
    font-size: 1.25rem;
    line-height: 25px;
    color: var(--color-white);
}

.footer-about {
    color: var(--color-white);
}

.footer-about h4 {
    margin-bottom: 32px;
    font-size: 1.5rem;
    font-weight: 700;
}

.footer-about ul li {
    list-style: none;
    margin-bottom: 20px;

}

.footer-about ul li a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 25px;
}

.footer-about ul li a:hover {
    color: var(--color-dark);
    transition: all 0.3s;
}

.footer-touch h4 {
    margin-bottom: 32px;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--color-white);
}

.footer-icon {
    justify-content: space-around;
    gap: 10px;
}